
wp-broadsheet {
    @include setGrid(3,88,16,2);
    @include breakpoint('tablet') {
        @include setGrid(6,88,16,2);
    }
    @include breakpoint('tabletxl') {
        @include setGrid(9,88,16,2);
    }
    @include breakpoint('desktop') {
        @include setGrid(12,88,16,6);
    }
    @include breakpoint('desktopxl') {
        @include setGrid(15,88,16,12);
    }
    .page {
        margin: 0 auto;
        @include setCol(3);
        @include breakpoint('tablet') {
            @include setCol(6);
        }
        @include breakpoint('tabletxl') {
            @include setCol(9);
        }
        @include breakpoint('desktop') {
            max-width: 1400px;
            @include setCol(12);
        }
        @include breakpoint('desktopxl') {
            max-width: 1680px;
            @include setCol(15);
        }
    }
}
