starter-sidebar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .9em;
    h1 {
        padding-top: 40px;
    }
    .widget.search input {
        padding: 8px 10px;
        border: none;
        border-radius: 4px;
        width: 100%;
        font-size: 1.1em;
    }
    .widget {
        padding-top: 20px;
    }
    h1, h3, p {
        margin: .5em 0;
    }
    h3 {
        color: #c82474;
    }
}

