
wp-post {
    wp-running-copy {
        display: block;
    }
}

@include breakpoint('desktop') {
    wp-post {
        wp-running-copy {
            display: block;
            width: col(6);
        }
    }
}